<h1>List of Movies you can buy tickets for</h1>

<% if @rated_movies == nil %>
    <%= button_to "Filter by rating", movies_top_rated_path, method: "get" %>
    <br>
    <% @movies.each do |movie| %>
        <li><%= link_to movie.name, movie_path(movie) %> - <%= movie.rated %>
    <% end %>

<% elsif @movies == nil %>
    <%= button_to "Filter By latest", movies_path, method: "get" %>
    <br>
    <% @rated_movies.each do |movie| %>
        <li><%= link_to movie.name, movie_path(movie) %> - <%= movie.rated %>
    <% end %>
<% end %>



