<!DOCTYPE html>
<html>
  <head>
    <title>QuickFilm</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if logged_in? %>
  <br>
    <h3> Welcome <%= current_username %> </h3>
    <%= link_to "Signout", logout_path %>
  <% else %>
  <br>
    <%= link_to "login", login_path %>
    <%= link_to "singup", signup_path %>  
  <% end %>



  <body>
    <%= yield %>
  </body>
</html>
